@use 'sass:map';
@use '../../styles/colors.scss';
@use '../../styles/typography.scss';

.fieldSection {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  width: 100%;
}

.field {
  background: colors.$gray500;
  border: 0;
  border-radius: 0.375rem;
  color: colors.$white;
  font-size: map.get(typography.$sizes, 'b4');
  font-weight: map.get(typography.$weights, 'b4');
  outline: 0;
  padding: 0.55rem 1.375rem;
  width: 100%;

  &::placeholder {
    color: colors.$gray200;
    opacity: 0.9;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: colors.$white;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.isErrored {
  border: 1px solid colors.$error;
}

.textareaField {
  min-height: 100px;
  max-height: 250px;
  resize: vertical;
}
