@use '../../../../styles/colors.scss';
@use '../../../../styles/breakpoints.scss';

.expertise-section {
  display: flex;
  justify-content: center;
  background: colors.$background;
  margin-top: 3rem;

  @include breakpoints.and-up(md) {
    margin-top: 3.5rem;
  }

  @include breakpoints.and-up(lg) {
    margin-top: 8rem;
  }
}

.expertise-section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  column-gap: 2rem;

  padding: 0 0.75rem 0 0.5rem;
  text-align: center;
  width: 100%;

  @include breakpoints.and-up(md) {
    text-align: start;
  }

  @include breakpoints.and-up(lg) {
    flex-direction: row;
  }

  @include breakpoints.and-up(xl) {
    padding: 4.75rem 0;
  }
}

.expertise-section-description {
  display: flex;
  flex-direction: column;
  flex: 1;

  margin-top: 2rem;
  padding: 0 0.875rem;

  h3 {
    color: colors.$title;
    line-height: 3rem;
  }

  p {
    color: colors.$text;
    margin-top: 1.5rem;
    line-height: 2rem;
  }

  @include breakpoints.and-up(lg) {
    margin-top: 0;
    max-width: 400px;
    padding: 0;
  }
  &:hover {
    margin-top: 2rem;
    transition: 1s ease;
  }
}

.companies-logos {
  display: grid;

  place-content: center;
  place-items: center;
  column-gap: 1rem;
  row-gap: 2rem;

  @include breakpoints.and-up(md) {
    grid-template-columns: repeat(1, auto);
    row-gap: 4rem;
  }
}
