@use '../../../../styles/colors.scss';
@use '../../../../styles/breakpoints.scss';

@keyframes appearFromLeft {
  from {
    left: -425px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: colors.$background;
  z-index: 99;

  position: fixed;
  top: 0;
  width: 100%;
}

.menu-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  padding: 1rem 0.5rem;
  width: 100%;
  min-height: 4.8rem;

  img {
    cursor: pointer;
  }

  @include breakpoints.and-up(md) {
    padding: 1rem 0.75rem 1rem 0.575rem;
  }

  @include breakpoints.and-up(xl) {
    padding: 1.25rem 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  h2 {
    color: #7b46a1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}

.navbar-container {
  button {
    width: 100%;
    height: 3rem;
  }

  @include breakpoints.and-up(lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;

    background: colors.$background;
    padding: 0;
    height: 100%;
    position: initial;

    button {
      max-width: 7.813rem;
      height: initial;
    }
  }
}

.is-menu-open {
  display: flex;
}

.nav-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  margin-left: 0;

  @include breakpoints.and-up(lg) {
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
  }
}
