@use './breakpoints.scss';
@use './colors.scss' as *;
@import '../../node_modules/normalize.css/normalize.css';
@import './utils/colors.utilities.scss';
@import './utils/typography.utilities.scss';

:root {
  --white: #{$white};
  --blue: #{$blue};
  --green: #{$green};
  --orange: #{$orange};
  --red: #{$red};
  --gray50: #{$gray50};
  --gray100: #{$gray100};
  --gray200: #{$gray200};
  --gray300: #{$gray300};
  --gray400: #{$gray400};
  --gray500: #{$gray500};
  --gray600: #{$gray600};
  --gray700: #{$gray700};
  --gray800: #{$gray800};

  --primary: #{$gray700};
  --secondary: #{$blue};
  --info: #{$blue};
  --warning: #{$orange};
  --error: #{$red};
  --success: #{$green};

  --background: #{$gray50};

  --title: #{$gray600};
  --text: #{$gray400};
  --text-light: #{$gray300};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @include breakpoints.and-down(sm) {
    font-size: 87.5%;
  }

  @include breakpoints.and-up(md) {
    font-size: 93.74%;
  }

  @include breakpoints.and-up(lg) {
    font-size: 100%;
  }
}

html,
body,
div#__next {
  width: 100%;
  height: 100%;
}

body {
  background: #1c2029;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button,
a {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

.centralized-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}
