@use '../../styles/colors.scss';

.breadcrumb-container {
  display: flex;
  gap: 0.3rem;
}

.breadcrumb-item-container {
  display: flex;
  align-items: center;
  list-style: none;
  color: colors.$gray300;
  font-size: 1.5rem;
  height: 2.5rem;

  &::before {
    content: '';
    margin: 0 0.675rem;
    width: 2px;
    height: 2.25rem;
    background: colors.$gray300;
  }

  p {
    margin-top: 0.2rem;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
}
