@use '../../styles/colors.scss';

.error-view-container {
  display: grid;
  place-items: center;

  background: colors.$background;

  padding: 1rem;
  height: 100%;
  width: 100%;

  section {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;

    max-width: 500px;

    h1 {
      color: colors.$title;
      margin: 0;
    }

    p {
      color: colors.$text;
      text-align: center;
    }
  }
}
